/*general*/

html {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.title {
    font-size: 40px;
    font-weight: 300;
    color: #000;
    text-align: center;
    padding: 30px 0px 50px 0px;
    margin: 0px;
}

.button {
    font-size: 18px;
    font-weight: 300;
    margin-top: 60px;
    border: none;
    border-radius: 30px;
    width: 170px;
    height: 50px;
}

.button:hover {
    cursor: pointer;
}

.button_dark {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

.button_dark:hover {
    color: #000;
    background-color: #f7bb7b;
}

.button_light {
    color: #000;
    background-color: #fff;
    border: 1px solid #d8d8d8;
}

.button_light:hover {
    border: 1px solid #000;
    background-color: #fff;
}

.decorative-line {
    display: inline-block;
    border-bottom: 1px solid #000;
    width: 60px;
}

/*end general*/
/*header*/

.header {
    display: flex;
    justify-content: space-between;
    margin: 60px 125px 70px;
}

.header__site-name {
    font-size: 20px;
    font-weight: bold;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__menu-link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.header__menu-link:hover {
    color: black;
    border-bottom: 1px solid;
}

.header__menu-link:visited {
    color: black;
}

/*end header*/
/*intro*/

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe1bd;
    margin: 70px 125px;
    height: 520px;
}

.intro__textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
}

.intro__title {
    font-size: 20px;
    font-weight: bold;
}

.intro__text {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

/*end intro*/
/*about*/

.about {
    display: grid;
    grid-template-rows: 0.4fr 1fr 1fr 1fr;
    margin: 0px 125px;
}

.about__title {
    font-size: 20px;
    font-weight: 300;
}

.about__subtitle {
    font-size: 25px;
    font-weight: 700;
}

.about__text {
    font-size: 18px;
}

.about__the-creators,
.about__the-application,
.about__tips-for-tourists {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

/* about-the-application reverse-styles */

.about__the-application img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.about__the-application div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* end about-the-application reverse-styles */

/* end about *
/* map-examples */

.map-examples__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 1fr;
    column-gap: 15px;
    margin: 0px 125px;
    justify-items: center;
}

.fifth-image {
    align-self: flex-end;
}

/* end map-examples */
/* best-karelian-waterfalls */

.waterfalls-rate {
    width: 100%;
    height: 600px;
    background-color: #ffe1bd;
}

.waterfalls-rate__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.waterfall-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waterfall-item__image {
    border-radius: 50%;
}

.waterfall-item__name {
    font-size: 25px;
    font-weight: 400;
}

.waterfall-item__rate  {
    font-size: 20px;
    font-weight: 400;
}

/* slider */

.radio-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.radio + label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.radio:active + label::before {
    background-color: transparent;
}

.radio:focus + label::before,
.radio:checked + label::before, 
.radio:disabled + label::before {
    background-color: #000;
}

/* end slider */
/* end best-karelian-waterfalls */

/* footer */

.footer {
    width: 100%;
    height: 80vh;
    background-color: #fff;
}

.footer__links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer__menu {
    list-style: none;
    padding: 0;
}

.footer__menu-item {
    margin-top: 20px;
}

.footer__menu-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.footer__menu-link:visited {
    color: #000;
}

.footer__menu-link:hover {
    color: #e9ae6e;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input,
.form textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    margin: 20px 0px;
    padding: 10px 0px;
    border: none;
    background-color: transparent;
    color: #000;
}

.form input {
    border-bottom: 1px solid grey;
}

.form input:focus {
    border-bottom: 2px solid #000;
}

.form textarea {
    box-shadow: 1px -1px 40px 10px #ffcb93;
    padding-left: 20px;
    transition: box-shadow .2s ease-in-out;
}

.form textarea:focus {
    box-shadow: 3px -3px 55px 20px #ffcb93;
    transition: box-shadow .2s ease-in-out;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

/* end footer */